<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <div id="app">

    {{ currentArticle }}

    <hr>

    <input type="text" v-model="text">
    <button v-on:click="submitArticle">Submit Article</button>

    <hr>

    <input type="number" v-model="id">
    <button v-on:click="getArticle">Get article</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script>

    let abi;
    let contractAddress;

    if (typeof web3 !== 'undefined') {
      web3 = new Web3(web3.currentProvider);
    } else {
      // set the provider you want from Web3.providers
      web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
    }

    fetch('/Article.json')
      .then((res) => res.json())
      .then((json) => {
        abi = json.abi
        contractAddress = json.networks[5777].address
      })
      .then(() => {

        const contract = web3.eth.contract(abi).at(contractAddress)

        var event = contract.ArticleCreated()

        event.watch((error, result) => {
          console.log('EVENT TRIGGERED:', result)
        })

        var app = new Vue({
          el: '#app',
          data: {
            currentArticle: '',
            text: '',
            id: 0
          },
          methods: {
            submitArticle: function (e) {
              contract.createArticle.sendTransaction(this.$data.text, (error, result) => {
                if (error) {
                  console.log(error)
                }

                console.log(result)
              })
            },
            getArticle: function (e) {
              contract.getArticleByID.call(this.$data.id, (error, result) => {
                if (error) {
                  console.log(error)
                }

                console.log(result)

                this.$data.currentArticle = result
              })
            }
          }
        })

      })

  </script>
</body>

</html>